
data/data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.meta
data/data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.index
data/data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.data-00000-of-00001
data/data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.meta
data/data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.index
data/data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.data-00000-of-00001
data/data/model_pos/label_list.txt
data/data/model_ner/pos_list.txt
data/data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.meta
data/data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.index
data/data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.data-00000-of-00001
data/data/model_ner/label_list.txt
data/data/embedding_word/vector_list.npy
data/data/embedding_word/token_list.npy
data/data/embedding_character/vector_list.npy
data/data/embedding_character/token_list.npy
data/embedding_character/token_list.npy
data/embedding_character/vector_list.npy
data/embedding_word/token_list.npy
data/embedding_word/vector_list.npy
data/model_ner/label_list.txt
data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.data-00000-of-00001
data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.index
data/model_ner/model_ontochinese_Att-0_BiLSTM-2-500_batch128-run1.meta
data/model_ner/pos_list.txt
data/model_pos/label_list.txt
data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.data-00000-of-00001
data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.index
data/model_pos/model_asbc_Att-0_BiLSTM-2-500_batch256-run1.meta
data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.data-00000-of-00001
data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.index
data/model_ws/model_asbc_Att-0_BiLSTM-cross-2-500_batch128-run1.meta
.ipynb_checkpoints/xls_test-checkpoint.ipynb
.ipynb_checkpoints/segandformat-checkpoint.py
TEST/org_input_test/00test.txt
TEST/org_input_test/01011218.txt
TEST/org_input_test/01011225.txt
TEST/org_input_test/01011227.txt
TEST/org_input_test/01021229.txt
TEST/org_input_test/02011218.txt
TEST/org_input_test/02011225.txt
TEST/org_input_test/02011227.txt
TEST/org_input_test/02021229.txt
TEST/org_input_test/03011218.txt
TEST/org_input_test/03011225.txt
TEST/org_input_test/03011227.txt
TEST/org_input_test/03021229.txt
TEST/org_input_test/frequency/.~lock.frequency.csv\#
TEST/org_input_test/frequency/frequency.csv
TEST/org_input_test/result/fmt_00test.txt
TEST/org_input_test/result/fmt_01011218.txt
TEST/org_input_test/result/fmt_01011225.txt
TEST/org_input_test/result/fmt_01011227.txt
TEST/org_input_test/result/fmt_01021229.txt
TEST/org_input_test/result/fmt_02011218.txt
TEST/org_input_test/result/fmt_02011225.txt
TEST/org_input_test/result/fmt_02011227.txt
TEST/org_input_test/result/fmt_02021229.txt
TEST/org_input_test/result/fmt_03011218.txt
TEST/org_input_test/result/fmt_03011225.txt
TEST/org_input_test/result/fmt_03011227.txt
TEST/org_input_test/result/fmt_03021229.txt
TEST/org_input_test/result/fmt_sample.txt
TEST/org_input_test/result/fmt_sample_2.txt
TEST/org_input_test/result/fmt_testpar.txt
TEST/org_input_test/sample.txt
TEST/org_input_test/sample_2.txt
TEST/org_input_test/testpar.txt
TEST/xlsx/result/fmt_報導原文本.xlsx
